#map { 
    height: 100%; 
    width: 100%;
}
.leaflet-tooltip {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.building-label {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.0);
    color: #7E7D7A;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
    pointer-events: none;
}
    
h1{
    text-align: center;
    grid-column: 2;
    padding-bottom: 25px;
    padding-top: 25px;
}
body{
    background-color: #2B4141;
    color:#F6F4D2;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1{
    text-align: center; 
    grid-row: 1;
}
footer{
 text-align: center;   
}
#main_content {
    width: 80%;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: 5px;
    border-color: #F9F0DE;
}
@media only screen and (max-width: 600px) {
    #main_content{
      /* Adjust styles for mobile devices */
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
  }
  