
#map { 
    height: 700px; 
    width: auto;
}
.leaflet-tooltip {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
.building-label {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 161, 161, 0.7);
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: bold;
    pointer-events: none;
}

h1{
    text-align: center;
    grid-column: 2;
    padding-bottom: 25px;
    padding-top: 25px;
}
body{
    background-color: #2B4141;
    color:#F6F4D2;
    font-family: sans-serif;
    
}

header h1{
    text-align: center; 
    grid-row: 1;
}

footer{
 text-align: center;   
}
